{#
/**
 * @file
 * Template for a generic layout.
 */
#}
{% if content %}
  {% if container_attributes|render %}
    <div{{ container_attributes }}>
  {% endif %}
  <div{{ attributes }}>
    {% for key, item in content %}
      {% if key != 'container' and region_attributes[key] %}
        <div {{ region_attributes[key] }}>
          {{ item }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% if container_attributes|render %}
    </div>
  {% endif %}
{% endif %}
