.layout-selector-columns > .form-item {
  display : inline-block;
  margin  : 0;
}

.layout-selector-columns .button {
  margin : 0 !important;
}

.layout-selector-columns .form-radios .form-type-radio,
.layout-selector-columns .form-radios .js-form-type-radio {
  display      : inline-block;
  margin-right : 12px;
}
