#layout-builder-tabs > div {
  display        : flex !important;
  flex-direction : row !important;
  flex-wrap      : nowrap !important;
}

#layout-builder-tabs .form-item-layout-settings-tab-header {
  position : relative;
  display  : inline-block !important;
  width    : 50%;
  height   : 40px;
}

#layout-builder-tabs .form-item-layout-settings-tab-header .layout-builder-tab-icon {
  position : absolute;
  opacity  : 0;
}

#layout-builder-tabs .form-item-layout-settings-tab-header .layout-builder-tab-icon ~ label {
  position            : absolute;
  top                 : 0;
  left                : 0;
  right               : 0;
  bottom              : 0;
  display             : inline-block;
  width               : 100%;
  background-position : center !important;
  background-repeat   : no-repeat !important;
  background-size     : contain !important;
  text-indent         : -999em;
  overflow            : hidden;
}

#layout-builder-tabs .form-item-layout-settings-tab-header label:hover,
#layout-builder-tabs .form-item-layout-settings-tab-header label:focus,
#layout-builder-tabs .form-item-layout-settings-tab-header .layout-builder-tab-icon:checked ~ label {
  opacity : 0.7 !important;
}

#layout-builder-tabs .form-item-layout-settings-tab-header .layout-builder-tab-icon[value='grid'] ~ label {
  background-image : url('../img/grip-horizontal.svg');
}

#layout-builder-tabs .form-item-layout-settings-tab-header .layout-builder-tab-icon[value='plugins'] ~ label {
  background-image : url('../img/cog.svg');
}
