/**
 * Grid
 */
.layout-builder-select-header,
.layout-builder-select-header .layout-builder-select-grid-size .form-radios,
.layout-builder-select-header .layout-builder-select-grid-align .form-radios {
  display               : -webkit-box;
  display               : -webkit-flex;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : horizontal;
  -webkit-box-direction : normal;
  -webkit-flex-flow     : row wrap;
  flex-flow             : row wrap;
}

.layout-builder-select-header > *,
.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio,
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio {
  width            : 48%;
  -webkit-box-flex : 0;
  -webkit-flex     : 0 0 auto;
  -ms-flex         : 0 0 auto;
  flex             : 0 0 auto;
}

.layout-builder-select-header .form-type-checkbox,
.layout-builder-select-header .js-form-type-checkbox {
  text-align    : center;
  margin-bottom : 0;
  width         : 50%;
}

.layout-builder-select-header .layout-builder-select-grid-size {
  width : 22%;
}

.layout-builder-select-header .layout-builder-select-grid-layout {
  padding : 0 20px;
}

.layout-builder-select-header .layout-builder-select-grid-layout fieldset {
  margin : 0;
}

.layout-builder-select-header .layout-builder-select-grid-align {
  width : 30%;
}

/**
 * Size select
 */
.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio {
  width : 33.33%;
}

.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio label {
  display : inline-block;
  padding : 12px 18px;
  border  : 1px solid gray;
}

.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio label:hover,
.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio label:focus,
.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio input:checked ~ label {
  background : lightgrey;
}

.layout-builder-select-header .layout-builder-select-grid-size .form-radios .form-type-radio input {
  display : none;
}

/**
 * Layout select
 */
.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label {
  width  : 100%;
  border : 1px solid white;
}

.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label .cnt {
  margin : 0 -10px;
}

.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label .item {
  padding     : 0 10px;
  line-height : 0;
}

.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label .item .content {
  display    : inline-block;
  width      : 100%;
  height     : 24px;
  background : grey;
}

.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label:hover,
.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio label:focus,
.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio input:checked ~ label {
  border : 1px solid black;
}

.layout-builder-select-header .layout-builder-select-grid-layout .form-radios .form-type-radio input {
  display : none;
}

/**
 * Align select
 */
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio {
  width : 33.33%;
}

.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio label {
  display : none;
}

.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(2),
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(5),
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(8) {
  text-align : center;
}

.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(3),
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(6),
.layout-builder-select-header .layout-builder-select-grid-align .form-radios .form-type-radio:nth-child(9) {
  text-align : right;
}
