.layout-builder__section {
  position : relative;
}

.layout-builder__link--add {
  margin : 0 12px;
}

.layout-builder__link--remove {
  margin-left : 0;
  overflow    : hidden;
}

.js-layout-builder-region-section-no-parent {
  padding : 10px;
  height  : 10px;
}

.layout-builder__draggable-section {
  position   : absolute;
  top        : 0;
  left       : 50%;
  display    : inline-block;
  content    : '';
  margin     : 4px;
  width      : 18px;
  height     : 18px;
  background : url('../img/draggable.svg');
  cursor     : move;
  visibility : hidden;
  transform  : translateX(calc(-50% - 4px));
}

.layout-builder__draggable-section:hover,
.layout-builder__draggable-section:focus {
  visibility : visible;
  background : url('../img/draggable-hover.svg');
}

.layout-builder__section.dragging > .layout-builder__draggable-section {
  visibility : visible;
}

.layout-builder__section .layout-builder__section {
  margin-top    : 12px;
  padding-left  : 6px;
  padding-right : 6px;
}

.contextual-region .contextual .contextual-links a {
  color : #333;
}
